EXPO_PUBLIC_APP_ENV=development
EXPO_PUBLIC_API_URL=https://api-dev.gopany.site
EXPO_PUBLIC_AUTH_REDIRECT_SCHEME=reactnativetemplate
EXPO_PUBLIC_KEYCLOAK_CLIENT_ID=gopany-mobile
EXPO_PUBLIC_KEYCLOAK_ISSUER=https://sso-dev.gopany.site/realms/gopany
